@model List<SimpsonsCharacters.Controllers.SimpsonCharacter>

<!DOCTYPE html>
<html>
<head>
    <title>Simpsons Characters</title>
</head>
<body class="fondo">
    <h1 class="nombre">Simpsons Characters</h1>

    @* <form method="get">
        <input type="text" name="searchTerm" placeholder="Ingrese un término de búsqueda" />
        <button type="submit">Buscar</button>
    </form> *@

    @foreach (var character in Model)
    {
        <div class="character-card">
            <h1>@character.id</h1>
        </div>
        <div class="character-card">
            <h3>@character.Name</h3>
        </div>
        <div class="character-card">
            <h4>@character.gender</h4>
        </div>
    }
</body>
</html>